{
	"extends": ["eslint:recommended", "plugin:import/recommended", "plugin:sonarjs/recommended"],
	"env": {
		"es2021": true,
		"browser": true
	},
	"rules": {
		"no-console": "off",
		"no-duplicate-case": "warn",
		"no-lonely-if": "warn",
		"no-redeclare": "warn",
		"no-unused-vars": ["warn", { "varsIgnorePattern": "_" }],
		"sonarjs/cognitive-complexity": "warn"
	},
	"parserOptions": {
		"ecmaVersion": 11,
		"sourceType": "module"
	}
}
