:root {
	--border: 1px solid #b6b6b6;
	--border-radius: 5px;
}

body,
input,
select,
button {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
	padding: 15px;
}
#content {
	display: flex;
	width: 100%;
}

label {
	font-size: 0.9rem;
}

input[type="number"] {
	width: 5.5ch;
}
/* search form */
#search-form {
	display: flex;
	flex-direction: column;
	gap: 5px;
	border: var(--border);
	border-radius: var(--border-radius);
	padding: 10px;
	width: fit-content;
}

#options > * {
	margin-bottom: 5px;
}

/* sidebar */
#sidebar {
	margin-top: 1.5em;
	margin-right: 1.5em;
	padding: 10px;
	height: fit-content;
	border: var(--border);
	border-radius: var(--border-radius);
}

#filters {
	display: flex;
	flex-direction: column;
}

#notice {
	font-style: italic;
	font-size: 0.8em;
	width: 40ch;
	padding: 5px;
}

#source {
	font-size: 0.8em;
	padding: 5px;
}
/* results */
#results-container {
	flex-grow: 0.5;
	margin-top: 1.5em;
}

#results {
	margin-block-start: 10px;
	padding-inline-start: 0;
	max-width: 850px;
}

#loading-indicator {
	margin-left: 5px;
}
.result {
	min-height: 4.1rem;
	border: var(--border);
	border-top: unset;
	list-style-type: none;
	padding: 0.75rem;
}

.result:first-of-type {
	border-top: var(--border);
	border-radius: var(--border-radius) var(--border-radius) 0 0;
}

.result:last-of-type {
	border-radius: 0 0 var(--border-radius) var(--border-radius);
}

.result-logo {
	height: 4rem;
	width: 4rem;
	float: left;
	margin-right: 15px;
	margin-bottom: 1em;
	object-fit: contain;
}

.result-title {
	font-size: 1.2rem;
	display: block;

	margin-bottom: 5px;
}

.result-secondary {
	font-size: 0.9rem;
	color: #696969;
}

.result-categories {
	float: right;
}
.result-categories,
.result-secondary {
	display: flex;
	flex-direction: row;
	gap: 10px;
}

.result-category-image {
	height: 25px;
	width: 25px;
}

.result-summary {
	font-size: 0.9rem;
	margin-block-start: 5px;
	margin-block-end: 0;
}

/* dark mode */
@media (prefers-color-scheme: dark) {
	:root {
		--border: 1px solid rgb(79, 87, 91);
		color-scheme: dark;
	}
	body {
		background-color: #222426;
		color: rgb(250, 250, 250);
	}
	input,
	select,
	button {
		border-color: #736b5e;
		background-color: #24282a;
		color: rgb(250, 250, 250);
	}
	.result-secondary {
		color: rgb(190, 181, 168);
	}
	a {
		color: #3391ff;
	}
	a:visited {
		color: rgb(131, 46, 205);
	}
}

@media (max-width: 768px) {
	#notice {
		width: 25ch;
	}
}
