#sidebar {
	display: flex;
	flex-direction: column;
	gap: 5px;
	margin-top: 1.5em;
	margin-right: 1.5em;
	padding: 10px;
	height: fit-content;
	border: var(--border);
	border-radius: var(--border-radius);
}

.sidebar-header {
	display: flex;
	align-items: center;
}
#show-filters {
	display: none;
	margin-left: 15px;
}

#filters {
	display: flex;
	flex-direction: column;
}

.checkbox-label {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 5px;
	margin-top: 2px;
}

.sidebar-form {
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
	gap: 5px;
}

.sidebar-form > header {
	font-size: 0.9rem;
}

.sidebar-form > * {
	display: flex;
	align-items: center;
}

.sidebar-input {
	margin-left: 3px;
}

.version-filter {
	width: 8.5ch;
}

#notice {
	font-style: italic;
	font-size: 0.8rem;
	width: 40ch;
}

#source {
	font-size: 0.8rem;
}

#notice,
#source,
.sidebar-form {
	margin-left: 5px;
}
