/* I set the query breakpoints semi-randomly, so it might break lol */
@media (max-width: 1024px) {
	#notice {
		width: 25ch;
	}
	#results {
		max-width: 100%;
	}
}
@media (max-width: 720px) {
	#content {
		flex-direction: column;
	}
	#show-filters {
		display: inline-block;
	}
	#sidebar.show-filters > :is(#notice, #source) {
		display: block;
	}
	#sidebar.show-filters > :is(#filters, #show-id-label) {
		display: flex;
	}
	#sidebar > :not(:first-child) {
		display: none;
	}
}
/* TODO fix this awful hack */
@media (max-width: 475px) {
	.result {
		position: relative;
	}
	.download-button {
		position: absolute;
		bottom: 0.75rem;
		right: 0.75em;
		margin: 0;
	}
	.result-summary {
		width: calc(100% - 80px);
	}
}
