/* I set the query breakpoints semi-randomly, so it might break lol */
@media (max-width: 1024px) {
	#results {
		max-width: 100%;
	}
}

@media (min-width: 720px) and (max-width: 1024px) {
	#notice {
		width: 25ch;
	}
}

@media (max-width: 720px) {
	#content {
		flex-direction: column;
	}
	#show-filters {
		display: inline-block;
	}
	#sidebar:not(.show-filters) > :not(:first-child) {
		display: none;
	}

	#version-filters {
		display: flex;
	}

	.result-subtitle {
		flex-wrap: wrap;
		row-gap: 5px;
	}
}

@media (max-width: 475px) {
	#results.show-author .result-title {
		flex-direction: column;
		align-items: start;
	}
	/* TODO fix this awful hack */
	.result {
		position: relative;
	}
	.download-button {
		position: absolute;
		bottom: 0.75rem;
		right: 0.75em;
		margin: 0;
	}
	.result-summary {
		width: calc(100% - 80px);
	}

	.result-subtitle,
	.result-summary,
	.result-author,
	.result-project-id {
		font-size: 0.85rem;
	}

	.result-title-link {
		font-size: 1.15rem;
	}
}
